<div class="container">
  <div class="row">
    <div class="product-card col-lg-5">
      <div class="badge">Hot</div>
      <div class="product-tumb">
        <img src="https://viva.ua/storage/crop/articles/avatar_4687_max.jpg" alt="">
      </div>
      <div class="product-details">
        <span class="product-category">Category</span>
        <h4><a href="">Kaminsky</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
        <div class="product-bottom-details">
          <div class="product-price"><small>$14.88</small>$13.37</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card col-lg-5">
      <div class="badge">Hot</div>
      <div class="product-tumb">
        <img src="https://n1s2.hsmedia.ru/89/06/7a/89067a1200919765367644fae09c3cba/440x326_21_2fa6946e9df7448b99f43f892371bc5e@725x483_0xc0a8392b_14837114761449831376.jpeg" alt="">
      </div>
      <div class="product-details">
        <span class="product-category">Category</span>
        <h4><a href="">Gosling</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto assumenda beatae blanditiis commodi</p>
        <div class="product-bottom-details">
          <div class="product-price"><small>$14.88</small>$13.37</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




