<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
<div class="wrapper">
  <div class="product-img">
    <img src="https://i.pinimg.com/originals/4e/2f/c2/4e2fc203b1c9df09681902addd79ad2c.jpg" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>Kaminsky studio</h1>
      <h2>by Gosling</h2>
      <p> Some text lol </p>
    </div>
    <div class="product-price-btn">
      <p><span>14</span>$</p>
      <button type="button">buy now</button>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="product-img">
    <img src="https://i.pinimg.com/originals/4e/2f/c2/4e2fc203b1c9df09681902addd79ad2c.jpg" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>Kaminsky studio</h1>
      <h2>by Gosling</h2>
      <p> Some text lol </p>
    </div>
    <div class="product-price-btn">
      <p><span>14</span>$</p>
      <button type="button">buy now</button>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="product-img">
    <img src="https://i.pinimg.com/originals/4e/2f/c2/4e2fc203b1c9df09681902addd79ad2c.jpg" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>Kaminsky studio</h1>
      <h2>by Gosling</h2>
      <p> Some text lol </p>
    </div>
    <div class="product-price-btn">
      <p><span>14</span>$</p>
      <button type="button">buy now</button>
    </div>
  </div>
</div>
</body>

</html>
