<div class="container-fluid contenedor text-center">
  <div class=" container text-center row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
      <div class="ver_mas text-center">
        <span  class="lnr lnr-eye">@Bybo4kka</span>
      </div>
      <article class="text-left">
        <h2>Danilo Kaminsky</h2>
        <h4>Делал всю грязную работу</h4>
      </article>
      <img src="https://i.imgur.com/Lzh3jxu.jpg">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
      <div class="ver_mas text-center">
        <span id="click" class="lnr lnr-eye">@vld_nik</span>
      </div>
      <article class="text-left">
        <h2>Vlad Nikulin</h2>
        <h4>Делал всю непыльную работу</h4>
      </article>
      <img src="https://i.imgur.com/Cbxfllg.jpg">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
      <div class="ver_mas text-center">
        <span>@squirr3l</span>
      </div>
      <article class="text-left">
        <h2>Serhii Denshchyk</h2>
        <h4>Ничего не делал</h4>
      </article>
      <img src="https://i.imgur.com/2iyBlXJ.jpg">
    </div>
  </div>
</div>
